.button {
  padding: 1rem;
  background-color: #4C68A7;
  border: 2px solid #4C68A7;
  border-radius: 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: x-large;
}
