.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  color: #E3343B;
  margin-bottom: 2rem;
  font-size: x-large;
}

.input {
  margin-bottom: 2rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border-color: #E3343B;
  font-size: large;
}