.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  color: var(--primary-color);
  margin-bottom: 2rem;
  font-size: x-large;
}

.input {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: large;
}