.home {
  background-color: #27447C;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.home-title {
  color: #E3343B;
  margin-bottom: 2rem;
  text-align: center;
}

.home-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem;
  width: 80%;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.home-welcome-title {
  text-align: center;
}

.button {
  padding: 1rem;
  background-color: #4C68A7;
  color: white;
  border: 2px solid #4C68A7;
  border-radius: 2rem;
  cursor: pointer;
}
