@import 'app.css';
@import 'layout.css';
@import 'home.css';
@import 'playersFirstNames.css';
@import 'gameTurn.css';
@import 'gameTurnPlayer.css';

.group-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.separator {
  margin-bottom: 2rem;
  border-bottom: 2px solid black;
  padding-bottom: 2rem;
}